# OS
.DS_Store
Thumbs.db

# python
__pycache__/
*.py[cod]

# logs
*.log

# SQLite
*.db
*.sqlite3
*.db-journal
*.sqlite3-journal
*-journal
*-wal
*-shm

# pytest
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml