body {
  margin: 0px;
}

body.dark {
  padding: 20px;
  background-color: #2b2b2b
}

.container {
  padding: 20px;
  background-color: #8c8c8c;
}

.container-dark {
  background-color: #2b2b2b;
}

.App {
  margin: 0 auto;
  width: 400px;
}

.Headers {
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 5px;
}

h1 {
  color: white;
}

.section {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.section-dark {
  background-color: #464646;
}

.button-mode {
  margin: 30px;
  margin-bottom: 20px;
  border-radius: 60px;
  border: none;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #f8f8f8;
  cursor: pointer;
  box-shadow: 1px 4px 0 rgba(63, 63, 63, 0.5);
}

.button-mode:active {
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

/* Bookform */

.Bookform {
  margin: 0 auto;
  width: 300px;
}

.Bookform-dark {
  color: rgb(232, 232, 232);
}


.input-info {
  width: 200px;
  border: 0px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  background-color: #f8f8f8;
  outline: none;
}

input[type='radio'] {
  appearance: none; 
  width: 13px;
  height: 13px;
  border: 1px solid #000000; 
  border-radius: 50%;
  cursor: pointer;
  background-color: #f8f8f8;
}

input[type='radio']:checked {
  background-color: #353535; 
  border: 3px solid #fdf9f3; 
  box-shadow: 0 0 0 1px #d5d5d5; 
}

.input-info-dark {
  background-color: #5a5a5a;
  color: rgb(232, 232, 232);
}

.button-add {
  border-radius: 10px;
  width: 80px;
  border: 0px;
  padding: 10px;
  margin: 20px;
  margin-left: 220px;
  background-color: #606060;
  cursor: pointer;
  box-shadow: 1px 3px 0 rgba(154, 154, 154, 0.5);
  color: white;
}

.button-add:active {
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

.button-add-dark {
  background-color: #d5d5d5;
  color: #2b2b2b;
}

textarea {
  width: 290px;
  border-radius: 10px;
  border: none;
  resize: none;
  outline: none;
  background-color: #f8f8f8;
}

.textarea-dark {
  background-color: #5a5a5a;;
  color: rgb(232, 232, 232);
}

/* Bookitem */

.Booklist {
  margin: 0 auto;
  width: 300px;
}

.Booklist-dark {
  color: rgb(232, 232, 232);
}

.p-noread {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  line-height: 200px;
}

.card {
  width: 280px;
  background-color: #f8f8f8;
  margin: 40px auto;
  border-radius: 20px;
  padding: 10px;
}

.card-dark {
  background-color: #5a5a5a;
}

.Bookitem {
  margin: 0 auto;
  width: 300px;
}

.Bookitem-text > p {
  word-wrap: break-word;
}

.p-last {
  margin-bottom: 16px;

}

.button-del {
  margin-left: 255px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-del:hover {
  transform: rotate(180deg)
}

.button-del-dark {
  color: #f8f8f8;
}